:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secundary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #b5b0ac;
  --off-white: #faf8f7;
  --just-white: #ffffff;
  /* Fonts */
  --font-sans: "DM Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  /* Size */
  --size-300: 300;
  --size-400: 400;
  --size-500: 500;
  --size-700: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-sans);
}

/* Styles header */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
}

.header--background {
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

.header__logo {
  width: 151px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header__content {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 30px;
  text-align: center;
  align-self: center;
}

.header__title {
  margin-bottom: 24px;
  font-size: 2.4rem;
  font-weight: var(--size-700);
  color: var(--just-white);
}

.header__description {
  font-size: 1.4rem;
  font-weight: var(--size-500);
  color: var(--soft-orange);
}

.header__button {
  position: absolute;
  top: calc(100% - 30px);
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  max-width: 225px;
  padding: 15px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
}

.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 8px;
  background-image: url(./assets/icons/down.svg);
}

/* Styles Main */
.main {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
}

/* Styles Section Tables  */
.container-exchange {
  width: 100%;
  min-width: 320px;
  height: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.container-exchange__image {
  width: 200px;
  height: 200px;
  background-image: url(./assets/images/bitcoin.svg);
  background: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.container-exchange__content {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.container-exchange__title {
  margin-top: 40px;
  margin-bottom: 24px;
  font-size: 2.4rem;
  font-weight: var(--size-700);
  color: var(--warm-black);
}

.container-exchange__description {
  margin-bottom: 40px;
  font-size: 1.4rem;
  font-weight: var(--size-500);
  color: #757575;
  line-height: 1.6rem;
}

/* Styles of the Coins and Commissions tables that they share */
.table-coins,
.table-commissions {
  margin: 0 auto;
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  font-family: var(--font-inter);
}

.container-coins,
.container-commissions {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.container-coins table,
.container-commissions table {
  width: 100%;
  height: 100%;
}

.container-coins .table__col-left,
.container-commissions .table__col-left {
  width: 50%;
  padding: 10px 15px;
  text-align: start;
  font-size: 1.6rem;
  font-weight: var(--size-500);
  color: var(--grey);
  background-color: var(--just-white);
}

.container-coins .table__col-right,
.container-commissions .table__col-right {
  padding: 10px 15px;
  font-size: 1.4rem;
  font-weight: var(--size-400);
  color: #757575;
  background-color: var(--just-white);
}

.container-coins .table__top-left,
.container-commissions .table__top-left {
  border-radius: 15px 0 0 0;
}

.container-coins .table__top-right,
.container-commissions .table__top-right {
  border-radius: 0 15px 0 0;
}

.container-coins .table__bottom-left,
.container-commissions .table__bottom-left {
  border-radius: 0 0 0 15px;
}

.container-coins .table__bottom-right,
.container-commissions .table__bottom-right {
  border-radius: 0 0 15px 0;
}

/* Coins table special styles */

.table-coins__title {
  padding-left: 16px;
  margin-bottom: 12px;
  font-family: var(--font-sans);
  font-size: 1.8rem;
  font-weight: var(--size-700);
  color: var(--bitcoin-orange);
  line-height: 2.43rem;
}

.container-coins .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url(./assets/icons/trending-down.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-coins .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url(./assets/icons/trending-up.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.table-coins__date {
  margin: 0 auto;
  max-width: 200px;
  margin-top: 16px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: var(--size-400);
  color: var(--black);
  background-color: var(--soft-orange);
  border-radius: 8px;
}

/* Commissions table special styles */
.table-commissions__title {
  padding-left: 16px;
  margin-bottom: 12px;
  font-family: var(--font-sans);
  font-size: 1.8rem;
  font-weight: var(--size-700);
  color: var(--secundary-blue);
  line-height: 2.43rem;
}

.table-commissions__date {
  margin: 0 auto;
  max-width: 200px;
  margin-top: 16px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: var(--size-400);
  color: var(--black);
  background-color: var(--soft-blue);
  border-radius: 8px;
}
