:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secundary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
  /* Fonts */
  --font-sans: "DM Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  /* Size */
  --size-300: 300;
  --size-400: 400;
  --size-500: 500;
  --size-700: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-sans);
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
}

.header--background {
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

.header__logo {
  width: 151px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header__content {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 30px;
  text-align: center;
  align-self: center;
}

.header__title {
  margin-bottom: 24px;
  font-size: 2.4rem;
  font-weight: var(--size-700);
  color: var(--just-white);
}

.header__description {
  font-size: 1.4rem;
  font-weight: var(--size-500);
  color: var(--soft-orange);
}

.header__button {
  position: absolute;
  top: calc(100% - 30px);
  left: 50%;
  transform: translate(-50%);
  width: fit-content;
  padding: 15px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
}

.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 8px;
  background-image: url(./assets/icons/down.svg);
}
